@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

html, body, #app {
    @apply h-full;
}

body {
    @apply font-sans text-black dark:text-white;
}

#app {
    background: url("@/assets/images/wallpapers/1.webp");
    background-size: cover;
}

div {
    @apply select-none
}
