@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
}

html, body, #app {
    @apply h-full;
}

body {
    @apply font-sans text-gray-12 dark:text-gray-d12;
}

#app {
    background: url("@/assets/images/wallpapers/1.webp");
    background-size: cover;
}

div {
    @apply select-none
}

h1 {
    @apply text-2xl font-medium;
}

h2 {
    @apply text-lg font-medium;
}

p.light {
    @apply text-gray-11 dark:text-gray-d11;
}

img {
    @apply pointer-events-none
}
